mark {
  background-color: violet;
}

::selection {
  background: #ec0;
  color: rebeccapurple;
}

:root {
  color: #111;
  background: violet;
}

:any-link {
  color: #111;
}

:focus-within {
  outline-color: cornflowerblue;
}

:focus {
  outline-color: indigo;
  text-shadow:
    -5px 0 0 purple,
    3px 3px 0 purple,
    3px -3px 0 purple;
}

li:target {
  background: orange;
}

.glowstick {
  --bow: .75turn;
  background-image: linear-gradient(var(--bow), lemonchiffon, gold, violet, blueviolet, darkviolet);
}

@media (orientation: portrait) {
  .bow {
    --bow: .5turn;
  }
}
